@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    animation: fadein 0.5s;
}

.title {
    animation: slideInForTitle 1s ease-out;
}

.movieCard {
    animation: slideAndFadeinForMovies 1s;
}

.skeletonCard {
    animation: fadein 1s;
}

.searchBar {
    position: relative;
    animation: fadein 0.6s;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.searchBar::after, .searchBar::before {
    content: '';
    position: absolute;
    height: 120%;
    width: 102%;
    background: conic-gradient(from var(--angle), #6366f1, #a855f7, #ec4899, #6366f1);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: 0.25rem;
    animation: 3s spin linear infinite;
}

.searchBar::before {
    filter: blur(1rem);
    opacity: 0.5;
}

@keyframes slideAndFadeinForMovies {
    0% {
        opacity: 0;
        translate: 0 50%;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInForTitle {
    0% {
        opacity: 0;
        translate: 0 300%;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}